
 {% extends 'base.html' %}
 {% load crispy_forms_tags %}
 {% block title %} Sign in {% endblock %}
 {% block content %}
 <div class="row" style="margin-bottom: 300px, margin-top: 180px ">
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Авторизація</h3>
    <hr>
    <form action="" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
            <p><a href="{% url "password_reset" %}">Забули пароль?</a></p>
          <input type="submit" class="btn btn-secondary" value="Ввійти">
    </form>
</div>
 <div class="row", style="margin-bottom: 300px, margin-top: 180px ">
     <div class="col-md-8 mx-auto social-container my-2 order-md-1">
         <button class="btn btn-danger  mb-2">
             <a href="#">Login with Instagram</a>
         </button>
         <button class="btn btn-primary mb-2">
            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        </button>
         <button class="btn btn-info mb-2">
             <a href="#">Login with LinkedIn</a>
         </button>
     </div>

</div>
 </div>
 </div>
 {% endblock %}
