{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row" style="margin-bottom: 50px, margin-top: 50px ">
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Реєстрація</h3>
        <hr>
        <form action="" method="POST">
              {% csrf_token %}
              {{ form | crispy}}
              <input type="submit" class="btn btn-secondary" value="Зареєструватися">
</form>
    </div>

</div>



{% endblock %}
