*{
	margin:0;
	padding:0;
}


body{
	background:#f9f9f9;
	font-family:courier;
	color:#000000;
}
div.main{
	width:800px;
	margin:0 auto;
	border:1px solid #dadada;
	box-shadow:0 0 10px black;
}
header{
	padding-top:0px;
	margin-bottom:70px;
}
div.content img{
	width:800px;
}
.imgn {
	position	: relative;
	width		: 100%; /* for IE 6 */
}
nav ul{
	position	: absolute;
	top		: 339px;
	left		: 0;
	width		: 100%;
	list-style:none;
	overflow:hidden;
	display:flex;
	justify-content:flex-end;
  
}
nav ul li{
	background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 25px; 
   }
}
nav ul li a{
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.content a{
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.content h2{
	padding-top:300px;
	text-align:center;
	padding-bottom:30px;
}
.cart-img {
  padding-top:20px;	
  display: block;
  margin: 0 auto;
  padding-bottom:60px;
}
.content h3{
	padding:20px;	
    text-align:center;
}
.slad-img{
  padding-top:20px;		
  display: block;
  margin: 0 auto;
  width:400px;
  padding-bottom:60px;
}
.imgs{
  padding-top:20px;		
  display: block;
  margin: 0 auto;
  width:200px;
  padding-bottom:60px;
}
.imgs1{
  padding-top:20px;		
  display: block;
  margin: 0 auto;
  width:200px;
  padding-bottom:60px;
}
.thumb img  {
    color: white;
	padding-top:30px;
    margin-right: 30px;
    margin-bottom: 10px; 
    padding-bottom:60px;
   }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer{
	padding:20px;
	text-align:center;
}
