{% load static  %}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Українські гори</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://js.stripe.com/v3/"></script>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href=" {% static 'css/style.css' %}" > <!-- Resource style -->
	<script src=" {% static 'js/modernizr.js' %}" ></script> <!-- Modernizr -->




  <style>

      .test{
        width:100%;

      }
      #content{
border: 1px solid red;


}
      .breadcrumb {

  background:white;
}

  </style>
</head>
<body>

  <!-- Navigation -->

  <!-- Page Content -->
  <div class="container text-center pb-4">
        <h1 class="my-4">Українські гори</h1>
</div>

<div class="container text-center pb-5 " >
  <div class="row">
    <div > +380000000000
        <div class="navbar-nav">
        <li class="nav-item dropdown">

           <a class ="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            Категорії
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

           </div>
       </li>
    </div>
    </div>

    <div class="col-sm" >
    &nbsp;&nbsp;&nbsp;&nbsp;  <a class="text-reset text-decoration-none " href="{% url 'base' %}">Головна</a>&nbsp;&nbsp;
  		<a class="text-reset text-decoration-none" href="#">Гори</a>&nbsp;&nbsp;
      <a class="text-reset text-decoration-none" href="#">Блог</a>&nbsp;&nbsp;
      <a class="text-reset text-decoration-none" href="#">Контакти</a>
    </div>
    <div class="row" >



        {% if not request.user.is_authenticated %}
            <li class="nav-item navbar-nav ">
                <a href="{% url 'login' %}" class="nav-link text-dark">Ввійти</a>
            </li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item navbar-nav ">
                <a href="#" class="nav-link text-dark">|</a>
            </li>
        &nbsp;&nbsp;&nbsp;
          <li class="nav-item navbar-nav ">
                <a href="{% url 'registration' %}" class="nav-link text-dark">Зареєструватися</a>
            </li>
        {% endif%}

        <li class="nav-item navbar-nav ">
            {% if request.user.is_authenticated %}<span class="navbar text text-secondary"><span class="badge badge-secondary">


</span>  <a class ="text-reset text-decoration-none" href=" {% url 'logout'%}">Вийти</a>

            {% endif %}

        </span>
        </li>
        <a class=" text-decoration-none" href="{% url 'cart' %}"><img src="{% static 'img/instagram.webp' %}" class="img-thumbnail" width="35" height="35"></a>&nbsp;
        <a class=" text-decoration-none" href="{% url 'cart' %}"><img src="{% static 'img/sign.webp' %}" class="img-thumbnail" width="35" height="35"></a>&nbsp;

        <a class=" text-decoration-none" href="{% url 'cart' %}"><img src="{% static 'img/shop.webp' %}" class="img-thumbnail" width="35" height="35">

      <span class="badge badge-pill badge-danger">{{ cart.products.count }}</span></a>
    </div>
</div>
</div>

<div class="col-lg-3 my-5">
 <div class=' list-group list-group-flush col-lg-6 float-left'  id="cotent">
        {% for category in categories %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{{ category.url }}" class="text-reset text-decoration-none">{{category.name}}</a>
      <span class="badge badge-secondary badge-pill">{{ category.count }}</span>

    </li>
{% endfor %}
</div>
</div>



    <div  class="container  " id ='cotent'>
      <!-- /.col-lg-3 -->
    {% block content %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}

      <div class="col-lg-12 text-center">

        <div class="row">
            {% for product in products %}
           <div class="col-lg-3 col-md-6 mb-4">
              <a href="{{ mountains.url }}" ><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
              <div class="card-body">
                <p class="card-title">
                  <a href="{{ Mountains.get_absolute_url }}" class="text-reset text-decoration-none">{{ product.title }}</a>
                </p>
                <a href="{% url 'add_to_cart' slug=product.slug %}"><button class="btn btn-secondary">Вподобати</button> </a>
                <h5>{{ product.name}} </h5>



            </div>
           </div>


               {% endfor %}

<!--            {% for product in products %}-->
<!--            <ul class="cd-items cd-container">-->
<!--		<li class="cd-item">-->
<!--			<img src=" {{ product.image.url }}" alt="Зображення товару">-->
<!--			<a href="#0 " class="cd-trigger text-reset text-decoration-none">Швидкий перегляд</a>-->
<!--		</li>-->
<!--	</ul>-->

<!--            {% endfor %}-->
          </div>

       </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>

  <!-- /.container -->

  <!-- Footer -->

<!--   {% for product in products %}-->
<!--	<div class="cd-quick-view">-->
<!--		<div class="cd-slider-wrapper">-->
<!--			<ul class="cd-slider">-->
<!--				<li class="selected"><img src="{{ product.image.url }}" alt="Product 1"></li>-->
<!--&lt;!&ndash;				<li><img src="img/item-2.jpg" alt="Product 2"></li>&ndash;&gt;-->
<!--&lt;!&ndash;				<li><img src="img/item-3.jpg" alt="Product 3"></li>&ndash;&gt;-->
<!--			</ul> &lt;!&ndash; cd-slider &ndash;&gt;-->
<!--		</div> &lt;!&ndash; cd-slider-wrapper &ndash;&gt;-->

<!--		<div class="cd-item-info">-->
<!--			<h2>{{ product.title }}</h2>-->
<!--			<p>{{ product.description }}</p>-->
<!--            <p>{{ product.price }} грн</p>-->

<!--			<ul class="cd-item-action">-->
<!--				<li><button class="add-to-cart">Add to cart</button></li>-->
<!--				<li><a href="#0">Learn more</a></li>-->
<!--			</ul> &lt;!&ndash; cd-item-action &ndash;&gt;-->
<!--		</div> &lt;!&ndash; cd-item-info &ndash;&gt;-->
<!--		<a href="#0" class="cd-close">Close</a>-->
<!--	</div> &lt;!&ndash; cd-quick-view &ndash;&gt;-->
<!--{% endfor %}-->

 {% endblock content %}
<footer>

<div class="container text-center my-5" class="col-lg-3 my-5" id="conent">
    <div class="col my-1  ">
    +380000000000
  </div>
    <div class="col my-5 ">
 Copyright © 2021 Mountains Ukraine
    </div>
</div>
  </footer>

  <!-- Bootstrap core JavaScript -->

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src=" {% static 'js/jquery-2.1.1.js' %}" ></script>
  <script src=" {% static 'js/velocity.min.js' %}" ></script>
<script src=" {% static 'js/main.js' %}" ></script>



</body>

</html>
