{% extends 'base.html' %}
{% block content %}
<h3 class="text-center mt-5 mb-5">{% if not cart.products.count %} Поки що ви нічого не вподобали{% endif %}</h3>
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
      </div>
    {% endfor %}
{% endif %}

{% if cart.products.count %}
<table class="table">
  <thead>
     <tr>
      <th scope="col">Назва</th>
      <th scope="col">Зображення</th>
    </tr>
  </thead>
  <tbody>

  {% for item in cart.products.all %}

    <tr>
      <th scope="row">{{ item.content_object.title }}</th>

      <td class="w-20"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
            <a href="{% url 'delete_from_cart'  slug=item.product.slug%}"><button class="btn btn-danger">Видалити з корзини</button> </a>
      
    </tr>

{% endfor %}
{% endif %}
{% endblock content %}
