{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
{% for item in avatar.products.all %}
  <tr>
    <td class="w-20"><img src="{{ item.user.avatar.url }}" class="img-fluid"></td>
       <p>Hi {{ user.username }}!</p>
       <img src="{{ UserProfile.avatar }}" class="img-thumbnail" width="35" height="35">&nbsp;
       {% endfor %}
     {% else %}
       <p>You are not logged in.</p>
       <a href="{% url 'login' %}">Log In</a>
     {% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{  form|crispy }}
    <input type="submit">
</form>
{% endblock %}
