
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <ul class="img-desc">
      <li class="desc-li-item">
        <img class='auto-select-logo' src="{% static 'images/desc1.png' %} ">
Висота : {{mountains.height}}
      </li>
      <li class="desc-li-item">
        <img class='auto-select-logo' src="{% static 'images/desc2.png' %} ">
 Місцезнаходження: {{mountains.misznahod}} км
      </li>
        <li class="desc-li-item">
        <img class='auto-select-logo' src="{% static 'images/desc3.png' %} ">
  Маршрути з міст/сіл: {{mountains.marsrut}}
      </li>
      <li class="desc-li-item">
        <img class='auto-select-logo' src="{% static 'images/desc4.png' %} ">
  Найкращий маршрут: {{mountains.top_marsrut }}
      </li>
      <li class="desc-li-item">
        <img class='auto-select-logo' src="{% static 'images/desc4.png' %} ">
  Cпосіб пересування: {{mountains.sposib_peresuv }}
      </li>
      <li class="desc-li-item">
        <img class='auto-select-logo' src="{% static 'images/desc4.png' %} ">
  Готелі,кафе,бази відпочинку поблизу: {{mountains.infrastructura }}
      </li>
      <li class="desc-li-item">
        <img class='auto-select-logo' src="{% static 'images/desc4.png' %} ">
  Рівень складності: {{mountains.riv_sklad }}
      </li>  
      </ul>
</body>
</html>
