{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container text-center" id="cotent" >

<nav aria-label="breadcrumb" class="mt-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}" class="text-reset text-decoration-none">Головна</a></li>

    <li class="breadcrumb-item"><a href="{% url 'base' %}"class="text-reset text-decoration-none">{{product.category.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>

  </ol>
</nav>
{% for photo in object.photos.all %}
<div class="container text-center"  >
            <img  src=" {{ object.photos.all() }} " class="pull-right"> <!-- class='w-20'-->
</div>
{%endfor%}
<div class="row text-left my-5" >

<div class="col-lg-7 " >
                <h3>{{ product.title }}</h3>
                     <p>{{ product.description }} </p>



</div>

<div class="col-lg-5 float-right text-left " >
    <a href="{% url 'add_to_cart' slug=product.slug %}"><button class="btn btn-secondary">Додати  в кошик</button> </a>

</div>
</div>

</div>





{% endblock content %}
