<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Стежками Українських гір</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
	<div class='main'>
		<header>
			<div class='content'>
			<div class='dim'>
			</div>
			<div class='imgn'>
			<img src='img/sa.jpg' alt='foto'>
			<nav>
				<ul>
					<li><a href=''>Головна</a></li>
					<li><a href=''>Гори</a></li>
					<li><a href=''>Блог</a></li>
					<li><a href=''>Контакти</a></li>
				</ul>
			</nav>
			</div>
		</header>
			<article>
				<h2 align='center'>Карта Українських горів</h2>
                  <img src="img/карта.jpg"  alt="foto"  class="cart-img">
                <h3 align='center'>Топ 5 гір в Україні які варто відвідати </h3>
				 <img src="img/слайдер.jpg"  alt="foto"  class="slad-img">

				 <h3 align='center'>Корисні теми блогу</h3>
				  <p align='center'  class="thumb">
				 <img src="img/що взяти.jpg" alt='foto' width="300" height="200">
				 <img src="img/гори.jpg" alt='foto' width="300" height="200">
				  </p>
			</article>
		</div>
		<footer>
		<p>Популяриєзуємо Українські Карпати разом!!!</p>
		</footer>
	</div>
</body>
</html>
