{% extends 'base.html' %}
{% block content%}

<div class="container">
   <div class="row">
     <div class="col-md-6 offset-md-3">
       <h1>Пароль змінено успішно</h1>
       <a href="{% url 'login/' %}">вернуться на главную</a>
     </div>
   </div>
 </div>

{% endblock%}
